@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-behavior-duration: 75ms;
}

.react-datepicker {
  font-family: inherit !important;
  border: none !important;
}

.react-datepicker__header {
  background: white !important;
  border-bottom: none !important;
  padding: 0.25rem 0 !important;
}

.react-datepicker__day-name {
  color: #6B7280 !important;
  font-size: 0.75rem !important;
}

.react-datepicker__current-month {
  font-size: 0.875rem !important;
  color: #374151 !important;
  margin-bottom: 0.25rem !important;
}

.react-datepicker__day {
  margin: 0.2rem !important;
  font-size: 0.875rem !important;
}

.react-datepicker__day--selected {
  background-color: #2563EB !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #DBEAFE !important;
  color: #1E40AF !important;
}

.react-datepicker__today-button {
  background: transparent !important;
  border-top: none !important;
  color: #2563EB !important;
  font-size: 0.875rem !important;
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 6px;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #F3F4F6;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}